<div  class="main">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link">Home</a>
          </li>
        <!-- <li class="nav-item">
          <a class="nav-link"  (click)="setModes('create')"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="setModes('update')">Modify Patient Details </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="setModes('delete')">Delete Patient Details</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="registerTests()">Register Tests</a>
        </li> -->
    </ul>
    <section *ngIf="!isChildActive || isChildComponent=='home'" class="hero-section">
        <div class="container">
          <div class="w-75 hero-text col-sm-12 text-center">
            <h3 class="text">
              Patieints List Waiting for Scans
            </h3>
            <!-- <p class="text-left">
              Nithin Reddy Hospital is a private owned hospital that has been providing
              excellent health care services to clients for a decade now.
              <br />
              We are fully equipped with the best health practioners, state of
              the art equipments, innovative technologies and we are open 24/7
            </p> -->
            <div class="accordion" id="accordionExample">
                <div *ngFor=" let patients of  patientListToScanAndPatientInfo; let j=index">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           {{patients?.patientTestData?.firstName}} {{patients?.patientTestData?.lastName}}  
                            - &nbsp; 0{{ patients?.patientTestData?.mobileNumber.substring(3)}}  - &nbsp;{{ patients?.patientTestData?.testName}}
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This patient is waiting for {{patients?.patientTestData?.testName}}.</strong> <br/>
                            <strong> Patient Name : &nbsp;  {{patients?.patientTestData?.firstName}} {{patients?.patientTestData?.lastName}} </strong><br/>
                            <strong>Patient Mobile No : &nbsp;  0{{ patients?.patientTestData?.mobileNumber.substring(3)}}</strong><br/>
                            <label style="margin-top: 20px;" for="formFile" class="form-label">Upload Scanned Reports</label>
                            <div class="row" >
                                <div class="col-md-4 offset-md-2">
                                    <input class="form-control" type="file" id="formFile" (change)="onFilesSelected($event)" >
                                </div> 
                                <div class="col-md-4">
                                    <button  class="btn btn-success center-block" (click)="saveReportsForPatient(patients, 'reports')">Upload Reports</button> 
                                </div>
                                <div class="saved reports">
                                    <div class="row" *ngIf="patients?.patientInfo?.files.length>0" style="margin-top: 10px;">
                                        <div class="col-md-8 offset-md-2 text-center">
                                           <label style="font-size: small;" class="label col-form-label">uploaded scanned Reports</label>
                                        </div>
                                    </div>
                                    <div *ngIf="patients?.patientInfo?.files.length>0" class="table-responsive-md table-responsive-sm" style="margin-top:20px;">
                                        <table class="table table-bordered table-hover">
                                          <thead>
                                            <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">Attachment</th>
                                            <th scope="col">Type</th>
                                            <!-- <th scope="col">Size</th> -->
                                            <th scope="col">Actions</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let file of patients?.patientInfo?.files;let i = index">
                                              <td scope="row">{{i + 1}}</td>
                                              <td>{{file.name}}</td>
                                              <td>{{file.type}}</td>
                                              <!-- <td>{{formatBytes(file.size,2)}}</td> -->
                                              <td>
                                                <svg xmlns="http://www.w3.org/2000/svg" (click)="downloadFile(file)" width="16" height="16" 
                                                fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16" style="cursor: pointer;margin-left: 10px;">
                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                                                class="bi bi-trash" viewBox="0 0 16 16" style="cursor: pointer;margin-left: 20px;" (click)="deleteFile(file,patients,j)">
                                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <label style="margin-top: 20px;" for="formFile" class="form-label">Upload Bill</label>
                            <div class="row" >
                                <div class="col-md-4 offset-md-2">
                                    <input class="form-control" type="file" id="formFile" (change)="onFilesSelected($event)">
                                </div> 
                                <div class="col-md-4">
                                    <button  class="btn btn-success center-block" (click)="saveBillsForPatient(patients ,'bills')">Upload Bills</button> 
                                </div>
                            </div>
                            <div class="saved bills" style="margin-top:20px;">
                                <div class="row" *ngIf="patients?.patientInfo?.bills.length>0" style="margin-top: 10px;">
                                    <div class="col-md-8 offset-md-2 text-center">
                                       <label style="font-size: small;" class="label col-form-label">uploaded Bills</label>
                                    </div>
                                </div>
                                <div *ngIf="patients?.patientInfo?.bills.length>0" class="table-responsive-md table-responsive-sm" style="margin-top:20px;">
                                    <table class="table table-bordered table-hover">
                                      <thead>
                                        <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Attachment</th>
                                        <th scope="col">Type</th>
                                        <!-- <th scope="col">Size</th> -->
                                        <th scope="col">Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let file of patients?.patientInfo?.bills;let i = index">
                                          <td scope="row">{{i + 1}}</td>
                                          <td>{{file.name}}</td>
                                          <td>{{file.type}}</td>
                                          <!-- <td>{{formatBytes(file.size,2)}}</td> -->
                                          <td>
                                            <i class="bi bi-arrow-down"></i>
                                            <svg xmlns="http://www.w3.org/2000/svg" (click)="downloadFile(file)" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                                            class="bi bi-trash" viewBox="0 0 16 16" style="cursor: pointer;margin-left: 20px;" (click)="deleteBillFile(file,patients,j)">
                                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                      </div>
                </div>
                <div *ngIf="!patientListToScanAndPatientInfo">
                    <p class="text-left">
                      Nithin Reddy Hospital is a private owned hospital that has been providing
                      excellent health care services to clients for a decade now.
                      <br />
                      We are fully equipped with the best health practioners, state of
                      the art equipments, innovative technologies and we are open 24/7
                    </p> 
                </div>
            </div>
          </div>
        </div>
    </section>
</div>