.main{
    margin:20px 20px 20px 20px;
}

.hero-section {
    position: relative;
    height: 870px;
    margin-bottom: -54px;
    background-image: url("../../assets/images/assets/home-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  a {
      cursor: pointer;
  }
  .label-required-error {
    color: #d41c4d;
    font-weight: 600;
    font-size: 11px;
  }
  .alert-success{
    max-width: 50%;
    margin-left: 30%;
  }
  select{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.nav-link {
    color:#146c43;
    font-weight: 600;
}